<footer id="dont-click">
    <div class="footer-content">
      <ul class="footer-links">
        <p>&copy; 2023 UConnect(Uracline Space). All rights reserved.</p>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </footer>