<header class="primary-header" id="header color-shift">
    <a class="logo"  href="/">UConnect</a>
    <div>
      <img src="menuBar.png" alt="" class="primary-Icons" id="menu">
      <ul class="primary-ul">
        <li class="link"><a href="/tutorLogin">Find Students</a></li>
        <li class="link"><a href="/studentlogin">Find Tutors</a></li>
        <li class="link"><a href="#">Collaborate</a></li>
      </ul>
    </div>
</header>